# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
consensus                       @karalabe
core/                           @karalabe @holiman
eth/                            @karalabe
les/                            @zsfelfoldi
light/                          @zsfelfoldi
mobile/                         @karalabe
p2p/                            @fjl @zsfelfoldi
p2p/simulations                 @lmars
p2p/protocols                   @zelig
swarm/api/http                  @justelad
swarm/bmt                       @zelig
swarm/dev                       @lmars
swarm/fuse                      @jmozah @holisticode
swarm/grafana_dashboards        @nonsense
swarm/metrics                   @nonsense @holisticode
swarm/multihash                 @nolash
swarm/network/bitvector         @zelig @janos 
swarm/network/priorityqueue     @zelig @janos 
swarm/network/simulations       @zelig @janos
swarm/network/stream            @janos @zelig @holisticode @justelad
swarm/network/stream/intervals  @janos
swarm/network/stream/testing    @zelig
swarm/pot                       @zelig
swarm/pss                       @nolash @zelig @nonsense
swarm/services                  @zelig
swarm/state                     @justelad
swarm/storage/encryption        @zelig @nagydani
swarm/storage/mock              @janos
swarm/storage/feed              @nolash @jpeletier
swarm/testutil                  @lmars
whisper/                        @gballet @gluk256
