# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @karalabe
accounts/scwallet               @gballet
accounts/abi                    @gballet @MariusVanDerWijden
beacon/engine                   @lightclient
cmd/clef                        @holiman
cmd/evm                         @holiman @MariusVanDerWijden @lightclient
consensus                       @karalabe
core/                           @karalabe @holiman @rjl493456442
eth/                            @karalabe @holiman @rjl493456442
eth/catalyst/                   @gballet @lightclient
eth/tracers/                    @s1na
core/tracing/                   @s1na
graphql/                        @s1na
internal/ethapi                 @lightclient
internal/era                    @lightclient
les/                            @zsfelfoldi @rjl493456442
light/                          @zsfelfoldi @rjl493456442
node/                           @fjl
p2p/                            @fjl @zsfelfoldi
params/                         @fjl @holiman @karalabe @gballet @rjl493456442 @zsfelfoldi
rpc/                            @fjl @holiman
signer/                         @holiman
