[submodule "tests"]
	path = tests/testdata
	url = https://github.com/ethereum/tests
	shallow = true
[submodule "evm-benchmarks"]
	path = tests/evm-benchmarks
	url = https://github.com/ipsilon/evm-benchmarks
	shallow = true
