language: go
go_import_path: github.com/ethereum/go-ethereum
sudo: false
jobs:
  include:
    # This builder only tests code linters on latest version of Go
    - stage: lint
      os: linux
      dist: bionic
      go: 1.16.x
      env:
        - lint
      git:
        submodules: false # avoid cloning ethereum/tests
      script:
        - go run build/ci.go lint

    # These builders run the tests
    # - stage: build
    #   os: linux
    #   arch: amd64
    #   dist: bionic
    #   go: 1.16.x
    #   env:
    #     - GO111MODULE=auto
    #   script:
    #     - go run build/ci.go test -coverage $TEST_PACKAGES

    # - stage: build
    #   os: linux
    #   dist: bionic
    #   go: 1.15.x
    #   env:
    #     - GO111MODULE=auto
    #   script:
    #     - go run build/ci.go test -coverage $TEST_PACKAGES