sudo: required
language: go
go_import_path: github.com/XinFinOrg/XDPoSChain

env:
  global:
    - GOPROXY=https://proxy.golang.org
    - GO111MODULE=on
    # Terraform env
    - tf_version=1.3.0
    # Setting terraform init CLI options - https://www.terraform.io/docs/commands/init.html
    - tf_init_cli_options=" -input=false"
    # Set terraform validation CLI options - https://www.terraform.io/docs/commands/validate.html
    - tf_validation_cli_options=""
    # Set terraform plan CLI options - https://www.terraform.io/docs/commands/plan.html
    - tf_plan_cli_options=" -lock=false -input=false"
    # Set terraform apply CLI options - https://www.terraform.io/docs/commands/apply.html
    - tf_apply_cli_options=" -auto-approve -input=false"


jobs:
  include:
  # TODO: temporary turn off linting to help fix all the tests. We will turn it back on once the branch is stable
  # - stage: Lint
  #   sudo: false
  #   go: '1.14.x'
  #   git:
  #     submodules: false
  #     script:
  #       - go run build/ci.go lint

  - stage: Tests
    os: linux
    dist: bionic
    go: 1.14.x
    env:
      - GO111MODULE=auto
    name: A-B tests
    script: travis_retry go run build/ci.go test -coverage $(go list ./... | grep "github.com\/XinFinOrg\/XDPoSChain\/[a-b].*")
  - script: travis_retry go run build/ci.go test -coverage $(go list ./... | grep "github.com\/XinFinOrg\/XDPoSChain\/c[a-m].*")
    os: linux
    dist: bionic
    go: 1.14.x
    env:
      - GO111MODULE=auto
    name: C-[a-m] tests
  - script: travis_retry go run build/ci.go test -coverage $(go list ./... | grep "github.com\/XinFinOrg\/XDPoSChain\/c[n-o].*")
    os: linux
    dist: bionic
    go: 1.14.x
    env:
      - GO111MODULE=auto
    name: C-[n-o] tests
  - script: travis_retry go run build/ci.go test -coverage $(go list ./... | grep "github.com\/XinFinOrg\/XDPoSChain\/c[p-z].*")
    os: linux
    dist: bionic
    go: 1.14.x
    env:
      - GO111MODULE=auto
    name: C-[p-z] tests
  - script: travis_retry go run build/ci.go test -coverage $(go list ./... | grep "github.com\/XinFinOrg\/XDPoSChain\/[d-i].*")
    os: linux
    dist: bionic
    go: 1.14.x
    env:
      - GO111MODULE=auto
    name: D-I tests
  - script: travis_retry go run build/ci.go test -coverage $(go list ./... | grep "github.com\/XinFinOrg\/XDPoSChain\/[j-n].*")
    os: linux
    dist: bionic
    go: 1.14.x
    env:
      - GO111MODULE=auto
    name: J-N tests
  - script: travis_retry go run build/ci.go test -coverage $(go list ./... | grep "github.com\/XinFinOrg\/XDPoSChain\/[o-r].*")
    os: linux
    dist: bionic
    go: 1.14.x
    env:
      - GO111MODULE=auto
    name: O-R tests
  - script: travis_retry go run build/ci.go test -coverage $(go list ./... | grep "github.com\/XinFinOrg\/XDPoSChain\/s.*")
    os: linux
    dist: bionic
    go: 1.14.x
    env:
      - GO111MODULE=auto
    name: S tests
  - script: travis_retry go run build/ci.go test -coverage $(go list ./... | grep "github.com\/XinFinOrg\/XDPoSChain\/[t-z].*")
    os: linux
    dist: bionic
    go: 1.14.x
    env:
      - GO111MODULE=auto
    name: T-Z tests
    
  - stage: (Devnet)Terraform plan
    if: branch = dev-upgrade AND type = pull_request
    dist: xenial
    language: bash
    install:
      - wget https://releases.hashicorp.com/terraform/"$tf_version"/terraform_"$tf_version"_linux_amd64.zip
      - unzip terraform_"$tf_version"_linux_amd64.zip
      - sudo mv terraform /usr/local/bin/
      - rm terraform_"$tf_version"_linux_amd64.zip
    script:
        - echo "Pull request detected, creating change plan(Devnet)"
        - cd cicd/devnet/terraform
        # Terraform init, validate, then create change plan. If any fail, fail validation
        - terraform init $tf_init_cli_options
        - terraform validate $tf_validation_cli_options
        - terraform plan $tf_plan_cli_options
  
  - stage: (Devnet)Terraform apply
    if: branch = dev-upgrade AND type = push AND tag IS blank
    dist: xenial
    language: bash
    install:
        # Download and install terraform before each run
        - wget https://releases.hashicorp.com/terraform/"$tf_version"/terraform_"$tf_version"_linux_amd64.zip
        - unzip terraform_"$tf_version"_linux_amd64.zip
        - sudo mv terraform /usr/local/bin/
        - rm terraform_"$tf_version"_linux_amd64.zip
    script:
      - echo "Merge detected, executing changes(Devnet)"
      - cd cicd/devnet/terraform
      # Terraform init and then apply changes to environment
      - terraform init $tf_init_cli_options
      - terraform apply $tf_apply_cli_options
  
  - stage: (Devnet) Build, push and deploy
    if: branch = dev-upgrade AND type = push AND tag IS blank
    services:
      - docker
    install: skip
    before_script:
      - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
      - docker --version  # document the version travis is using
      - docker build -t xdc-devnet -f cicd/devnet/Dockerfile .
    script:
      - pip install --user awscli # install aws cli w/o sudo
      - export PATH=$PATH:$HOME/.local/bin # put aws in the path
      - docker tag xdc-devnet:latest xinfinorg/devnet:latest # Always push to the latest
      - docker push xinfinorg/devnet:latest
      - sleep 10 # Wait for 10 second before asking the ecs to update the images
      - aws ecs update-service --region us-east-1 --cluster devnet --service devnet-group-1 --force-new-deployment #TODO: Temporary solution until we have proper automated scripts ready
  
  