.table {
    border-spacing: 100rem;
    width: 95%;
    margin: 0 auto;  
    background-color: white;
    top: 107pt;
    left: 2.5%;
    position: absolute;
}

th {
    background-color: aliceblue;
    padding-right: 10px;
}

td {
    font-size: 6pt;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

.disabled {
    pointer-events: none;
    color: black;
}

.incoming {
    height: 25px;
    width: 35px;
    border: 1px forestgreen;
    border-radius: 5px;
    background-color: #4f2e7e;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
}

.out {
    height: 25px;
    width: 35px;
    border: 1px orangered;
    border-radius: 5px;
    background-color: orangered;
    color: white;
    font-size: .8rem;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
}

