.table {
    border-spacing: 100rem;
    width: 100%;
    margin-top: 50px;
}

.tHead {
    font-size: 1rem;
}

th {
    background-color: aliceblue;
    padding-right: 10px;
}

.addressTag {
    display: inline-block;
    vertical-align: bottom;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 132px;
}

.ageTag{
    display: inline-block;
    vertical-align: bottom;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80px;
}

.fromTag{
    display: inline-block;
    vertical-align: bottom;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100px;
}

.toTag{
    display: inline-block;
    vertical-align: bottom;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100px;
}

.valueTag{
    display: inline-block;
    vertical-align: bottom;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80px;
}

.incoming {
    height: 25px;
    width: 35px;
    border: 1px forestgreen;
    border-radius: 5px;
    background-color: forestgreen;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
}

.out {
    height: 25px;
    width: 35px;
    border: 1px orangered;
    border-radius: 5px;
    background-color: orangered;
    color: white;
    font-size: .8rem;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
}