.navHeader {
    height: 150pt;
    background-color: #4f2e7e;
    padding-top: 30pt;
    padding-left: 2.5%;
    z-index: -10000;
    width: 100%;
}

.headerText { 
    color: white;
    letter-spacing: 1.7px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
}

.buttonContainer {
    flex: 1;
    flex-direction: row;
    padding-top: 20pt;   
}

.btn { 
    color: white;
    background-color: transparent;
    font-size: 8px;
    letter-spacing: 1.6px;
    font-family: 'Open Sans', sans-serif;
    width: 120px;
    height: 32px;
    margin-right: 1%;
    font-weight: 300;
}

.btn:hover { 
    color: #4f2e7e;
    background-color: #ffffff;
    font-size: 8px;
}
