.Secondary {
    display: block;
    width:100%;
    height: 100px;
    background-color: rgb(244, 244, 244);
}

.Transactions {
    font-size: 20px;
    padding-top: 25px;
    padding-left: 15px;
    float: left;
}

.bg-light {
    background-color: #fff !important;
}

.TopBar {
    font-size: 1.5rem;
}