<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }} | {% endif %}Go Ethereum</title>
    <!-- debug root:{% include link.html url="/debug-path" %} -->

    <link rel="icon" type="image/png" href="{% include link.html url=site.favicon %}" />
{% for x in layout.common-css %}{% capture target %}{% include link.html url=x %}{% endcapture %}
    <link rel="stylesheet" href="{{ target |strip }}" />
{% endfor %}

{% for x in page.css %}{% capture target %}{% include link.html url=x %}{% endcapture %}
    <link rel="stylesheet" href="{{ target |strip }}" />
{% endfor %}

{% for x in layout.common-js %}{% capture target %}{% include link.html url=x %}{% endcapture %}
    <script src="{{ target | strip }}"></script>
{% endfor %}

{% for x in page.js %}{% capture target %}{% include link.html url=x %}{% endcapture %}
    <script src="{{ target | strip }}"></script>
{% endfor %}
  
</head>
