<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }} | {% endif %}Go Ethereum</title>

    <link rel="icon" type="image/png" href="{{ site.favicon | prepend: site.baseurl | replace: '//', '/'}}" />
    {% if layout.common-css %}
        {% for css in layout.common-css %}
    <link rel="stylesheet" href="{{ css | prepend: site.baseurl | replace: '//', '/' }}" />
        {% endfor %}
    {% endif %}

    {% if page.css %}
        {% for css in page.css %}
    <link rel="stylesheet" href="{{ css | prepend: site.baseurl | replace: '//', '/' }}" />
        {% endfor %}
    {% endif %}

    {% if layout.common-js %}
        {% for js in layout.common-js %}
    <script src="{{ js | prepend: site.baseurl | replace: '//', '/' }}"></script>
        {% endfor %}
    {% endif %}
  
    {% if page.js %}
        {% for js in page.js %}
    <script src="{{ js | prepend: site.baseurl | replace: '//', '/' }}"></script>
        {% endfor %}
    {% endif %}

</head>