[Unit]
  Description=bor
  StartLimitIntervalSec=500
  StartLimitBurst=5

[Service]
  Restart=on-failure
  RestartSec=5s
  ExecStart=/usr/bin/bor server \
    -chain=mumbai \
    -port=30303 \
    -datadir /var/lib/bor/data \
    -http \
    -http.addr '0.0.0.0' \
    -http.port 8545 \
    -http.api='eth,net,web3,txpool,bor' \
    -ethstats matic-sentry-01:testnet@bor-mumbai.vitwit.com:3000 \
    -maxpeers 200 \
    -txpool.nolocals \
    -txpool.accountslots '128' \
    -txpool.lifetime '0h16m0s' \
    -txpool.globalslots '20000' \
    -http.vhosts '*' \
    -http.corsdomain '*' \
    -ipcpath /var/lib/bor/data/bor.ipc \
    -miner.gaslimit '20000000' \
    -metrics \
    -metrics.expensive \
    -metrics.prometheus-addr="127.0.0.1:7071" \
    -metrics.opencollector-endpoint "0.0.0.0:4317"
  Type=simple
  KillSignal=SIGINT
  TimeoutStopSec=120

[Install]
  WantedBy=multi-user.target
