.table {
    border-spacing: 100rem;
    width: 95%;
    margin: 0 auto;  
    background-color: white;
    top: 107pt;
    left: 2.5%;
    position: absolute;
}

th {
    background-color: white;
    padding: 15pt 30pt ;
    color: #593c83;
    font-family: 'Open Sans', sans-serif;
}

td {
    font-size: 6pt;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

.height {
    width: 50px;
}

.hash {
    display: inline-block;
    vertical-align: bottom;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 220px;
}

.addressTag {
    display: inline-block;
    vertical-align: bottom;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 150px;
}

.ageTag{
    display: inline-block;
    vertical-align: bottom;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80px;
}

.fromTag{
    display: inline-block;
    vertical-align: bottom;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100px;
}

.toTag{
    display: inline-block;
    vertical-align: bottom;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100px;
}

.valueTag{
    display: inline-block;
    vertical-align: bottom;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80px;
}

.arrow {
    width: 25px;
    height: 25px;
    margin-left: 15px;
}