<html>
    <meta charset="utf-8">
    <title>Network</title>

    <!-- <base href="/"> -->

    <meta name="description" content="">
    <meta name="keywords" content="dapp, ethereum">

    <!-- <link rel="icon" href="/favicon.ico" type="image/x-icon"> -->
    <!-- <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"> -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- <link rel="apple-touch-icon" href="/apple-touch-icon-precomposed.png"> -->
    <!-- <link rel="apple-touch-startup-image" href="/startup.png"> -->


    <link rel="stylesheet" type="text/css" class="__meteor-css__" href="529f30ee0ee386c5143b4ccb62073179ca8253c3.css?meteor_css_resource=true">
<body>


    <script type="text/javascript">__meteor_runtime_config__ = {"meteorRelease":"METEOR@1.0.3.1","ROOT_URL":"http://localhost:3000/","ROOT_URL_PATH_PREFIX":"","appId":"e350zy16p3kznipbx5o","autoupdateVersion":"df83a37bd2952ddbb9ba6c5f2a59e9caba02642b","autoupdateVersionRefreshable":"81118ed5fac9ef5f8d55835426179e1e058da42b","autoupdateVersionCordova":"none"};</script>

    <script type="text/javascript" src="42bbc78978031f82dbd6b6adb1358c26618aa7d6.js"></script>

</body>
</html>