[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Path=/home/phablet/src/gopkg.in/qml.v0/examples/particle/
Exec=./particle
Icon=properties
Name=Particle Example
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage

# Copy this file to:
#
#  ~phablet/.local/share/applications/gopkg.in.qml.particle-example.desktop
