.jumbotron .mascot {
  background-size: auto 300px;
  background-repeat: no-repeat;
  background-position: 0 -30px;
  height: 280px;
}

.jumbotron h1 {
  font-size: 56px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 12px;
}

.jumbotron h2 {
  font-size: 28px;
  max-width: 500px;
  margin: auto;
}

.mascot-mobile {
  text-align: center;
}

.hide-on-small-screen {
  display: none;
}

.featurette-divider {
  margin: 80px 0;
}

@media (min-width: 768px) {
  .jumbotron .mascot {
    background-image: url('../../images/mascot.png');
  }
  .mascot-mobile {
    display: none;
  }
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-image {
    margin-top: 30px;
  }
  .hide-on-small-screen {
    display: block;
  }
}
