<table class="table table-condensed table-modal-condensed mb0">
    <thead>
        <tr>
            <th>
                <a href="" ng-click="order('model.name')">
                    {{"name" | translate}}
                    <span class="sortorder" ng-show="predicate[1] === 'model.name'" ng-class="{reverse:reverse}"></span>
                </a>
            </th>
            <th class="text-right"></th>
        </tr>
    </thead>
    <tbody class="file-item">
        <tr ng-show="fileNavigator.requesting">
            <td colspan="2">
                <div ng-include="config.tplPath + '/spinner.html'"></div>
            </td>
        </tr>
        <tr ng-show="!fileNavigator.requesting && !fileNavigator.listHasFolders() && !fileNavigator.error">
            <td>
                {{"no_folders_in_folder" | translate}}...
            </td>
            <td class="text-right">
                <button class="btn btn-sm btn-default" ng-click="fileNavigator.upDir()">{{"go_back" | translate}}</button>
            </td>
        </tr>
        <tr ng-show="!fileNavigator.requesting && fileNavigator.error">
            <td colspan="2">
                {{ fileNavigator.error }}
            </td>
        </tr>
        <tr ng-repeat="item in fileNavigator.fileList | orderBy:predicate:reverse" ng-show="!fileNavigator.requesting && item.model.type === 'dir'" ng-if="!selectedFilesAreChildOfPath(item)">
            <td>
                <a href="" ng-click="fileNavigator.folderClick(item)" title="{{item.model.name}} ({{item.model.size | humanReadableFileSize}})">
                    <i class="glyphicon glyphicon-folder-close"></i>
                    {{item.model.name | strLimit : 32}}
                </a>
            </td>
            <td class="text-right">
                <button class="btn btn-sm btn-default" ng-click="select(item)">
                    <i class="glyphicon glyphicon-hand-up"></i> {{"select_this" | translate}}
                </button>
            </td>
        </tr>
    </tbody>
</table>