name: "Unit tests"

on:
  pull_request:
    branches: [taiko]
  push:
    branches: [taiko]

jobs:
  test:
    runs-on: arc-runner-set
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ github.token }}

      - name: Prepare environment
        continue-on-error: true
        run: sudo apt-get update && sudo apt-get install -y build-essential

      - uses: actions/checkout@v3
        with:
          repository: taikoxyz/taiko-geth

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.21'

      - name: Lint
        run: make lint

      - name: Test
        env:
          TAIKO_TEST: true
        run: make test
