name: Cloak Docker

on:
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions: {}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Log in to Docker Hub
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # v3.5.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract commit digest
        id: vars
        run: echo "sha8=${GITHUB_SHA::8}" >> $GITHUB_OUTPUT

      - name: Build and Push Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: scrolltech/cloak-l2geth:${{ steps.vars.outputs.sha8 }}
