name: Docker-arm64

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "tag of this image (suffix -arm64 is added automatically)"
        required: true
        type: string

jobs:
  build-and-push-arm64-image:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch:
          - aarch64

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up QEMU
        run: |
          docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
          docker buildx create --name multiarch --driver docker-container --use
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build docker image
        uses: docker/build-push-action@v2
        with:
          platforms: linux/arm64
          context: .
          file: Dockerfile
          push: true
          tags: scrolltech/l2geth:${{inputs.tag}}-arm64
